*{
  margin: 0;
  
  padding: 0%;
   text-align: center;

}

body{
  height:100vh;
  background-image: url(bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
} 

h2{
  font-size: 26px;
}
 
.choices{
  display: flex;
  justify-content: center;
  margin-top: 2.3rem;
  gap: 2rem;

}
.choice{
  height: 150px;
  width: 150px;
 
}

img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid black;
}

img:hover{
  border: none;
  opacity: 0.70;
} 


.score-board{
display: flex;
justify-content: center;
margin-top: 2rem;
gap: 5rem;
  
} 


 .score{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex-direction:column;
  gap: ;
  /* display: inline; */
} 

.msg-container{

  margin-top:3rem; 

 
  
} 
 #msg{
  font-size:2.6rem;
  background-color: #081b31;
  display:inline;
  color: white;
  padding: 15px;
  border-radius: 1rem;
  /* margin-top: 5rem; */
  /* border: 5px dotted white; */
} 

.msg2-container{
  margin-top:3rem; 
}
#msg2{
  font-size:2.6rem;
  background-color: #4b78ad;
  display:inline;
  color: white;
  padding: 15px;
  border-radius: 1rem;
  /* margin-top: 5rem; */
  /* border: 5px dotted white; */
} 
























